body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://source.unsplash.com/random/1920x1080');
    background-size: cover;
    padding: 20px;
}

h1 {
    text-align: left;
    color: #fff;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#todo-input, #due-date-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#add-btn {
    width: 100%;
    padding: 10px;
    background-color: #f20a82;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-btn:hover {
    background-color: #449d44;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 20px;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#todo-list li:hover {
    background-color: #f0f0f0;
}

.task {
    margin-right: 10px;
}

.due-date {
    font-size: 0.8em;
    color: #d20a0a;
}

.checkmark {
    visibility: hidden;
}

.done {
    text-decoration: line-through;
}

.done + .checkmark {
    visibility: visible;
    color: rgb(241, 11, 149);
}

.todo-item.done {
    text-decoration: line-through;
    color: gray;
}